
<div class="padding-25">
    <h2>Characters</h2>

    <div loading-indicator context="all-characters"></div>
    <table>
        <tr class="hover-highlight" ng-click="selectCharacter(c)" ng-repeat="c in characters">
            <td><span class="horizontal-padding-10">{{c.name}}</span></td>
            <td>{{c.context}}</td>
        </tr>
    </table>

    <div class="vertical-padding-15" ng-show="selectedCharacter != null" >
        <div class="vertical-padding-15" ng-show="!editing">
            <h2 class="inline">{{selectedCharacter.name}}</h2> <a class="horizontal-padding-10" href="" ng-click="editCharacter(selectedCharacter)">edit</a>
        </div>
        <div class="vertical-padding-15" ng-show="editing">
            <input type="text" ng-model="selectedCharacter.name"/> <a class="horizontal-padding-10" href="" ng-click="doneEditingCharacter(selectedCharacter)">done</a>
        </div>
        <div class="horizontal-padding-30">
            <p>id: {{selectedCharacter.id}}</p>
            <div ng-show="!editing">
                <p>context: {{selectedCharacter.context}}</p>
            </div>
            <div ng-show="editing">
                <p>context: </p><input type="text" ng-model="selectedCharacter.context"/>
            </div>

            <ul>
                <li ng-repeat="q in selectedCharacter.quotes">{{q.text}}</li>
            </ul>

            <div class="btn btn-danger vertical-padding-15" ng-click="deleteCharacter(selectedCharacter)">Delete Character</div>
        </div>
    </div>

    <div class="padding-25">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-1 control-label">Name</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Character's Name" ng-model="newCharacterInfo.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Context</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Life, Movie, TV Show, Book, etc..." ng-model="newCharacterInfo.context">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <button type="submit" class="btn btn-primary" ng-click="addCharacter(newCharacterInfo)">Add Character</button>
                </div>
            </div>
        </form>


    </div>
</div>