* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background-color: #e8e8e8 !important;
}

a {
    color: #00B7FF;
}


#main-header{
    background-color: #2c3336;
    position: absolute;
    top:0;
    right:0;
    left:0;
    height: 80px;
    padding-left: 35px;
}
#main-header h1{
    color: #f5f5f5;
}
#main-header div{
    margin: 25px 25px;

}

#main-body{
    background-color: #ffffff;
    padding-top:80px;
    padding-left: 70px;
    padding-bottom: 70px;
}

#main-footer{
    padding-top: 15px;
    padding-left: 70px;
    padding-right: 70px;
    color: gray;
}

.login-container{
    height: 250px;
    width:520px;
    background-color: #dfe9e7;
    border-radius: 15px;
}

.login-form{
    padding-top: 50px;
}

.padding-25 {
    padding: 25px;
}

#current-users li span{
    cursor: pointer;
}
#current-users li span:hover{
    cursor: pointer;
    color: lightsteelblue;
}
.hover-highlight:hover {
    cursor: pointer;
    color: lightsteelblue;
}

#current-users p{
    margin: 0;
    padding: 0;
}
#current-users #user-info{
    padding-left: 30px;
}

#current-users input{
    margin-top: 10px;
}

.inline{
    display: inline;
}

.vertical-padding-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.vertical-padding-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.horizontal-padding-10{
    margin-left: 10px;
    margin-right: 10px;
}

.horizontal-padding-30{
    margin-left: 30px;
    margin-right: 30px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear {
    clear: both;
}

.matching-character-true input{
    border-color: #62d167; !important;
    border-width: 2px;
}


.select-character-list span{
    cursor: pointer;
}
.select-character-list span:hover{
    color: lightsteelblue;
}






/* ---------------- Modal Dialog Styles ---------------------- */
.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.5;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    border-radius: 10px;

    background-color: #fff;
    box-shadow: 4px 4px 80px #1f1f1f;
}
.ng-modal-dialog-title{
    padding: 15px 0 10px 25px;
    margin: 0;
    background-color: #e0e0e0;
    color: #555555;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 1px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f5f5f5;
    color: #696969;
}
.ng-modal-close:hover {
    background-color: #c0c0c0;
}


